﻿<h2>Car</h2>
<div class="row">
    <div class="col-xs-8">
        <form class="form-inline">
            <div class="form-group">
                <input id="txtName" type="text" placeholder="Name..." class="form-control" />
            </div>
            <button id="btnSearch" type="button" class="btn btn-default">Search</button>
            <button id="btnClear" type="button" class="btn btn-default">Clear</button>
        </form>
    </div>
    <div class="col-xs-4">
        <button id="btnAdd" type="button" class="btn btn-default pull-right">Add New Record</button>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <table id="grid"></table>
    </div>
</div>

<div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogModalLabel">Garage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ID" />
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name">
                </div>
                <div class="form-group">
                    <select id="Garages" width="100%" placeholder="Garage..."></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    var grid, garageDropdown;
    $(document).ready(function () {
        grid = $('#grid').grid({
            primaryKey: 'Id',
            dataSource: '/Car/GetData',
            uiLibrary: 'bootstrap',
            columns: [
                { field: 'Id', width: 32 },
                { field: 'Name', sortable: true },
                { field: 'GarageName', sortable: true },
                { field: 'GarageId', hidden: true },
                { title: '', field: 'Edit', width: 34, type: 'icon', icon: 'glyphicon-pencil', tooltip: 'Edit', events: { 'click': editRecord } },
                { title: '', field: 'Delete', width: 34, type: 'icon', icon: 'glyphicon-remove', tooltip: 'Delete', events: { 'click': deleteRecord } }
            ],
            pager: { limit: 5, sizes: [5, 10, 20] }
        });

        garageDropdown = $('#Garages').dropdown({ dataSource: '/Garage/GetData', valueField: 'Id', textField: 'Name' });

        $('#btnAdd').on('click', function () {
            $('#ID').val('');
            $('#Name').val('');
            garageDropdown.value('');
            $("#dialogModal").modal("toggle");
        });

        $('#btnSave').on('click', saveRecord);

        $('#btnCancel').on('click', function () {
            $("#dialogModal").modal("hide");
        });

        $('#btnSearch').on('click', function () {
            grid.reload({ name: $('#txtName').val() });
        });

        $('#btnClear').on('click', function () {
            $('#txtName').val('');
            grid.reload({ name: '' });
        });

        function editRecord(e) {
            $('#ID').val(e.data.record.Id);
            $('#Name').val(e.data.record.Name);
            garageDropdown.value(e.data.record.GarageId);
            $("#dialogModal").modal("toggle");
        };

        function saveRecord() {
            var record = {
                ID: $('#ID').val(),
                Name: $('#Name').val(),
                GarageId: garageDropdown.value()
            };

            $.ajax({ url: '/Car/Save', data: { record: record }, method: 'POST' })
                .done(function () {
                    $("#dialogModal").modal("hide");
                    grid.reload();
                })
                .fail(function () {
                    alert('Failed to save.');
                    $("#dialogModal").modal("hide");
                });
        };

        function deleteRecord(e) {
            if (confirm('Are you sure?')) {
                $.ajax({ url: '/Car/Delete', data: { id: e.data.id }, method: 'POST' })
                    .done(function () {
                        grid.reload();
                    })
                    .fail(function () {
                        alert('Failed to delete.');
                    });
            }
        };
    });
</script>